/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Form Container */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: auto;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
}

/* Form Elements */
.form-container input, .form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    color: white;
    background-color: #388e3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-container button:hover {
    background-color: #2e7d32;
    transform: scale(1.05);
}

.form-container p {
    margin-top: 20px;
}

.form-container a {
    color: #43a047;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}